In [1]:
pip install kafka-python

Collecting kafka-python
  Obtaining dependency information for kafka-python from https://files.pythonhosted.org/packages/b1/e2/0b2c006d7ff54fde8bece3a157b7c37fef42aa636c550e3c8769f0f9587d/kafka_python-2.0.5-py2.py3-none-any.whl.metadata
  Downloading kafka_python-2.0.5-py2.py3-none-any.whl.metadata (9.0 kB)
Downloading kafka_python-2.0.5-py2.py3-none-any.whl (251 kB)
   ---------------------------------------- 0.0/251.3 kB ? eta -:--:--
   ---------------------------------------- 251.3/251.3 kB 5.1 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [35]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [36]:
producer = KafkaProducer(bootstrap_servers=['13.235.83.154:9092'],
                        value_serializer=lambda x:
                        dumps(x).encode('utf-8'))

In [24]:
producer.send('demo-test',value={"deepak":"yes"})

In [40]:
df = pd.read_csv("data/indexProcessed.csv")

In [41]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [39]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo-test',value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [26]:
#clear data from kafak server
producer.flush()